.successfully-signed-up-container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0tRVAr6oXykj544buP8WNkepqc2hzid6X_A&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}